/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 9:42:46 PM
    Author     : Chris Mccord
*/

.container{
    width: 100%;
}

.post-summary {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: #E7E7E7 solid 3px;
    background-color: #285e8e;
}

#logo{
    min-height:300px;
    background-image: url('../resources/Nerd After Dark.png');
    background-size: 100% 100%;
}

#background{
    background-color:#E7E7EF;
    height:100%;
}

#header{
    background-color:black;
}

#social_links{
    color: white;
}

.podcast-image-tag{
    min-height:60px;
    max-width: 63px;
    background-image: url('../resources/PodcastLabel-Clear-White.png');
    background-size: 100% 100%;
    padding: 0px;
}

.content-block{
    width: 100%;
    border-bottom: 1px #E7E7EF solid;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2aabd2
}

.rotated-ninty{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotated-twohundredseventy{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotated-onehundredeighty{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.podcast-duration{
    font-size: x-small;
    color: lightsalmon;
}

#portal{
    background-color: #000;
    color: whitesmoke;
    height: 100%;
}

.navbar{
    margin-bottom:1px;
}

.podcast-label{
    color: lightgreen;
}